<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar *ngIf="isLogged">
    <ion-title>{{ appTitle }}</ion-title>
    <small *ngIf="loaded">{{ userName }}</small>
    <ion-buttons end (click)="logout()">
        <button ion-button icon-end>
          Salir
          <ion-icon name="exit"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ftc-login *ngIf="!isLogged" (complete)="onViewChange($event)"></ftc-login>
  <menu #menuComponent [shown]="isLogged"></menu>
</ion-content>
