.login {
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    grid-auto-flow: row;
    vertical-align: middle;
    align-items: center;
    padding: 18px;
    min-height: 65vh;
    width: 100%;    
    img {
        margin: 0 auto;
        max-height: 100px;
        max-width: 210px;
    }
    ion-list {
        background-color: transparent;
        ion-item {
            color: color($colors, dark);
            background-color: color($colors, background);
            padding-left: 0px;
            ion-label {
                font-size: 14px;
                font-variant: petite-caps;
            }
            &:nth-child(4){
                ion-label{
                    a {
                        cursor: pointer;
                    }
                }
            }
            ion-input {
                :nth-child(2){
                    input {
                        -webkit-text-security:disc;
                    }
                }
                input{
                    &:focus {
                        outline: 0;
                    }
                }
            }
            ion-icon {
                &[aria-label="eye"]{
                    right: 0px;
                    position: absolute;
                    color: black;
                    cursor: pointer;
                    pointer-events: all;
                    z-index: 50;
                }
            }
            @media screen and (min-width: 768px) {
                width: 400px;
            }
        }
        
    }
    button{
        &:focus {
            outline: 0 !important;
        }
    }
}
